.emptyCart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyCartEmpty {
  width: 25%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
