.navBar {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: center;
  width: 100%;
  float: right;
  color: burlywood;
  background-color: #34344d;
  justify-content: space-between;
}

.navBar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navBar .logoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar ul li a:hover {
  color: orange;
}
.navBar li a {
  padding: 8px;
  color: burlywood;
  text-decoration: none;
}
